@use '../../utils' as *;


.rs-newsletter { 
    &-margin {
        // margin-top: -110px;
        @media #{$xs,$md} {
            margin-top: 0;
            padding-top: 80px;
        }
    }
    &-bg {
        padding: 80px;
        border-radius: 20px;
        @media #{$md} {
            padding: 69px 40px;
        }
        @media #{$xs} {
            padding: 60px 17px;
        }
    }
    &-box { 
        @media #{$lg} {
            margin-top: 20px;
        }
        @media #{$md,$xs} {
            padding-left: 0;
        }
        & form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        & input {
            border-color: #fff;
            color: #fff;
        }
    }
    &-input {
        width: calc(100% - 230px);
        @media #{$xs} {
            width: 100%;
            margin-bottom: 30px;
        }
        & img {
            position: absolute;
            right: 10px;
            top: 40%;
        }
    }
    &-back {
        color: #fff;
        font-size: 100px;
        opacity: .10;
        position: absolute;
        left: 185px;
        bottom: -24px;
        line-height: 1;
        margin: 0;
        @media #{$xl} {
            font-size: 66px;
        }
        @media #{$lg} {
            font-size: 81px;
        }
        @media #{$md} {
            font-size: 60px;
            left: 102px;
            bottom: -11px;
        }
    }
}